body {
  text-align: center;
  font-family: sans-serif;
}

header {
    margin-top: 3vh;
}

main {
    margin-top: 6vh;
}

#simulation {
    margin: 1vh 1vw;
}

#restart {
    border-style: solid;
    border-color: grey;
    border-radius: 3px;
    border-width: 1px;
}

